[dev]
  publish = "src/dist/"
  functions = "src/api"

[functions]
  directory = "src/api"
  node_bundler = "esbuild"

[[redirects]]
  from = "/"
  to = "/.netlify/functions/index"
  status = 200

# [[redirects]]
#   from = "/api/factsheets/*"
#   to = "/.netlify/functions/id?id=:splat"
#   status = 200

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[headers]]
   for = "/*"   
   [headers.values]
      Access-Control-Allow-Origin = "http://krm-dashboard-dev.s3-website-eu-west-1.amazonaws.com"
      Access-Control-Allow-Methods = "GET, POST, PUT, DELETE, OPTIONS"
      Access-Control-Allow-Headers = "Content-Type, Authorization"
